version: '2'

services:

  bcoin:
    image: ambisafe1/bcoin-node:{{ bcoin_version }}
    container_name: bupernode_bcoin
    restart: always
    ports:
      #-- Mainnet
      - "8333:8333"
      - "8332:8332" # RPC/HTTP
      - "8334:8334" # Wallet
      #-- Testnet
      # - "18333:18333"
      # - "18332:18332" # RPC/HTTP
      # - "18334:18334"
    environment:
      BCOIN_CONFIG: /data/bcoin.conf
      VIRTUAL_HOST: bcoin.yourdomain.org
      VIRTUAL_PORT: 8332
      #VIRTUAL_PORT: 18332 # Testnest
    networks:
      - "bcoin"
    volumes:
      - {{ blockchain_data_path }}/bcoin.conf:/data/bcoin.conf

  node-exporter:
    image: prom/node-exporter:{{ node_exporter_version }}
    container_name: supernode_worker_node_exporter
    restart: unless-stopped
    user: root
    privileged: true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100:9100

networks:
  bcoin:
    external:
      name: "bcoin"